@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
.wrapperTodo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: start;
    gap: 40px;
    margin:  0 10% 0 10%;    
  margin-top: 5%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;

 

}
.formCreate{
  margin: 10px 40% 10px 40%;
}